body
{
    margin: 5em;
    background: pink;

}
.topbox {
     background-image: url("https://i.ytimg.com/vi/ylemoDMqBzU/maxresdefault.jpg");
    color: deeppink;
    text-shadow: black 0.2em 0.2em 0.3em ;
}

.color
{
    background-color: deeppink ;
}